<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939069579856-ec0gru4r0efk8uq2en2n4e571qs76b6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939069579856-ec0gru4r0efk8uq2en2n4e571qs76b6l</string>
	<key>API_KEY</key>
	<string>AIzaSyDiOkBbNwQBf38_LD6F7_DVxcbdLkS8UhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>939069579856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexasih.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-9fe80</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-9fe80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939069579856:ios:44a3e191e7054c88</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-9fe80.firebaseio.com</string>
</dict>
</plist>